#root {
  max-width: 100%;
  margin: 0; 
  padding: 0;
}

@media (max-width: 768px) {
  .container {
    padding: 0 5px; 
  }
}
  
  .flex {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}
  .space-x-2 {
    margin: 10px 0;
  }

  .text-3xl {
    font-size: 1.5rem;
  }

  .text-5xl {
    font-size: 2rem;
  }

  .text-2xl {
    font-size: 1rem;
  }

  .py-6 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .py-10 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .gap-4 {
    gap: 10px;
  }

  .tracking-tight {
    letter-spacing: normal;
  }
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  padding: 0;
  margin: 0 auto;
  gap: 10px;
}

.image-item img {
  width: 100%; /* Ensure image takes full width of container */
  height: auto; /* Maintain aspect ratio */
  margin: 0;
  padding: 0;
}


